* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(33, 33, 160);
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
}

.sizeBtn {
  display: block;
  margin: 30px auto;
  padding: 12px 36px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}


.square {
  width: 10px;
  height: 10px;
  border: 1px solid black;
}
